.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8c52ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body.calculator {
  width: 452px;
  height: 500px;
  background: #D4DDE2;
  border-radius: 20px;
  color: white;
}

section.inputBar {
  width: 382px;
  height: 103px;
  background: rgba(0, 0, 0, 0.58);
  border-radius: 20px;
}
